<div class="home-content-container">
    <h1>Welcome to Friends App</h1>
    <%= image_tag "sam-manns-p0ZvBVpW3KY-unsplash.jpg", class: "home-image" %>
    <p>Good friends are like stars. You don't always see them, but you know they're always there</p>
</div>