/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Roboto Mono', monospace;;
}

.btn-outline-success {
    color: rgb(255, 161, 231);
    border-color: rgb(255, 161, 231);
}

.btn-outline-success:hover{
    background-color: rgb(255, 161, 231);
    border-color: rgb(255, 161, 231);
}

.btn-success {
    background-color: rgb(255, 161, 231);
    border-color: rgb(255, 161, 231);
}

.btn-success:hover {
    background-color: rgb(240, 97, 205);
    border-color: rgb(240, 97, 205);
}

.btn-warning {
    background-color: rgb(161, 180, 255);
    border-color: rgb(161, 180, 255);
    color: white;
}

.btn-warning:hover {
    background-color: rgb(97, 126, 245);
    border-color: rgb(97, 126, 245);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(148, 148, 239);;
}

a:hover{
    color: rgb(82, 82, 187);;
}

.button-containter {
    display: flex;
}

.delete-button {
    display: inline-block;
}

.friend-card {
    padding: 2em;
    background-color: lavender;
}

.edit-add-container {
    margin-right: 30em;
}

.table {
    margin-bottom: 2em;
}

.alert {
    color: rgb(146, 169, 244);
}